@model IEnumerable<homework.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CitizenShip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Passport_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Of_Birth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Province.Province_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title1.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CitizenShip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Passport_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Of_Birth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Province.Province_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title1.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Patient_No }) |
            @Html.ActionLink("Details", "Details", new { id=item.Patient_No }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Patient_No })
        </td>
    </tr>
}

</table>
